page-parties {

    .main{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('../../assets/imgs/ppp.jpg');
        background-attachment: fixed;
        background-size: cover;
        
    }
    h2{
     text-align: center;
     font-size: 50px;
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
    margin-top:60 px;
    color: white;
    
    
    }
    #button{
    margin-top: 20px;
    color: white;
    }
        
    .item{

        background-color: rgba(0, 0, 0, 0);
        // border-color: rgba(0, 0, 0, 0);
       border: 2px solid white;
       border-radius: 50px;
       
     }

    #label{
        color: white;
    }

}
